# Task : Task is to predict whether a room is occupied or not on basis of tempreture,light,humidity,co2 presence in the room.


# Abstract : Experimental data used for binary classification (room occupancy) from Temperature,Humidity,Light and CO2.

# Attribute Information:
### Temperature, in Celsius
### Relative Humidity, in % 
### Light, in Lux
### CO2, in ppm
### Humidity Ratio, Derived quantity from temperature and relative humidity, in kgwater-vapor/kg-air 
### Occupancy, 0 or 1, 0 for not occupied, 1 for occupied status

# Data Explaination: Here we have to predict if a room is occupied or not on basis of different factors such as :amount of tempereture in room, presence of light, amount of CO2 in room, humidity and humidity ratio. There are total 5 features in data on which occupency in room is decided.

In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("C:\\Users\\Parth\\Desktop\Sem 3\\Untitled Folder\\datatraining.txt")

In [3]:
print(train.columns.values)

['date' 'Temperature' 'Humidity' 'Light' 'CO2' 'HumidityRatio' 'Occupancy']

In [4]:
del train ['date']

In [5]:
train.head()

   Temperature  Humidity  Light     CO2  HumidityRatio  Occupancy
1        23.18   27.2720  426.0  721.25       0.004793          1
2        23.15   27.2675  429.5  714.00       0.004783          1
3        23.15   27.2450  426.0  713.50       0.004779          1
4        23.15   27.2000  426.0  708.25       0.004772          1
5        23.10   27.2000  426.0  704.50       0.004757          1

In [6]:
temp_mean = train ['Temperature'].mean()

In [7]:
train.head()

   Temperature  Humidity  Light     CO2  HumidityRatio  Occupancy
1        23.18   27.2720  426.0  721.25       0.004793          1
2        23.15   27.2675  429.5  714.00       0.004783          1
3        23.15   27.2450  426.0  713.50       0.004779          1
4        23.15   27.2000  426.0  708.25       0.004772          1
5        23.10   27.2000  426.0  704.50       0.004757          1

In [8]:
train["Temp<20.61"] = 0
train["Temp<20.61"] = pd.get_dummies(train ['Temperature'] < train ['Temperature'].mean())

In [9]:
train.head()

   Temperature  Humidity  Light     CO2  HumidityRatio  Occupancy  Temp<20.61
1        23.18   27.2720  426.0  721.25       0.004793          1           1
2        23.15   27.2675  429.5  714.00       0.004783          1           1
3        23.15   27.2450  426.0  713.50       0.004779          1           1
4        23.15   27.2000  426.0  708.25       0.004772          1           1
5        23.10   27.2000  426.0  704.50       0.004757          1           1

In [10]:
train["Temp>20.61"] = 0
train["Temp>20.61"] = pd.get_dummies(train ['Temperature'] > train ['Temperature'].mean())

In [11]:
train.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,Temp<20.61,Temp>20.61
1,23.18,27.2720,426.0,721.25,0.004793,1,1,0
2,23.15,27.2675,429.5,714.00,0.004783,1,1,0
3,23.15,27.2450,426.0,713.50,0.004779,1,1,0
4,23.15,27.2000,426.0,708.25,0.004772,1,1,0
5,23.10,27.2000,426.0,704.50,0.004757,1,1,0

In [12]:
Humid_mean = train ['Humidity'].mean()
Humid_mean

25.731507286422527

In [13]:
train["Humid>25.73"] = 0
train["Humid>25.73"] = pd.get_dummies(train ['Humidity'] > train ['Humidity'].mean())
train["Humid<25.73"] = 0
train["Humid<25.73"] = pd.get_dummies(train ['Humidity'] < train ['Humidity'].mean())

In [14]:
train.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,Temp<20.61,Temp>20.61,Humid>25.73,Humid<25.73
1,23.18,27.2720,426.0,721.25,0.004793,1,1,0,0,1
2,23.15,27.2675,429.5,714.00,0.004783,1,1,0,0,1
3,23.15,27.2450,426.0,713.50,0.004779,1,1,0,0,1
4,23.15,27.2000,426.0,708.25,0.004772,1,1,0,0,1
5,23.10,27.2000,426.0,704.50,0.004757,1,1,0,0,1

In [15]:
light_mean =train['Light'].mean()
light_mean

119.51937451389756

In [16]:
train["light>119.51"] = 0
train["light>119.51"] = pd.get_dummies(train ['Light'] > train ['Light'].mean())
train["light<119.51"] = 0
train["light<119.51"] = pd.get_dummies(train ['Light'] < train ['Light'].mean())

In [17]:
train.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,Temp<20.61,Temp>20.61,Humid>25.73,Humid<25.73,light>119.51,light<119.51
1,23.18,27.2720,426.0,721.25,0.004793,1,1,0,0,1,0,1
2,23.15,27.2675,429.5,714.00,0.004783,1,1,0,0,1,0,1
3,23.15,27.2450,426.0,713.50,0.004779,1,1,0,0,1,0,1
4,23.15,27.2000,426.0,708.25,0.004772,1,1,0,0,1,0,1
5,23.10,27.2000,426.0,704.50,0.004757,1,1,0,0,1,0,1

In [18]:
CO2_mean = train['CO2'].mean()
CO2_mean

606.5462431945632

In [19]:
train["CO2>606.54"] = 0
train["CO2>606.54"] = pd.get_dummies(train ['CO2'] > train ['CO2'].mean())
train["CO2<606.54"] = 0
train["CO2<606.54"] = pd.get_dummies(train ['CO2'] < train ['CO2'].mean())

In [20]:
HumidityRatio_mean =train['HumidityRatio'].mean()
HumidityRatio_mean

0.0038625066783203902

In [21]:
train["HumidityRatio>0.003"] = 0
train["HumidityRatio>0.003"] = pd.get_dummies(train ['HumidityRatio'] > train ['HumidityRatio'].mean())
train["HumidityRatio<0.003"] = 0
train["HumidityRatio<0.003"] = pd.get_dummies(train ['HumidityRatio'] < train ['HumidityRatio'].mean())

In [22]:
train.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,Temp<20.61,Temp>20.61,Humid>25.73,Humid<25.73,light>119.51,light<119.51,CO2>606.54,CO2<606.54,HumidityRatio>0.003,HumidityRatio<0.003
1,23.18,27.2720,426.0,721.25,0.004793,1,1,0,0,1,0,1,0,1,0,1
2,23.15,27.2675,429.5,714.00,0.004783,1,1,0,0,1,0,1,0,1,0,1
3,23.15,27.2450,426.0,713.50,0.004779,1,1,0,0,1,0,1,0,1,0,1
4,23.15,27.2000,426.0,708.25,0.004772,1,1,0,0,1,0,1,0,1,0,1
5,23.10,27.2000,426.0,704.50,0.004757,1,1,0,0,1,0,1,0,1,0,1

In [23]:
del train['Temperature']
del train['Humidity']
del train['Light']
del train['CO2']
del train['HumidityRatio']

In [24]:
train.head()

,Occupancy,Temp<20.61,Temp>20.61,Humid>25.73,Humid<25.73,light>119.51,light<119.51,CO2>606.54,CO2<606.54,HumidityRatio>0.003,HumidityRatio<0.003
1,1,1,0,0,1,0,1,0,1,0,1
2,1,1,0,0,1,0,1,0,1,0,1
3,1,1,0,0,1,0,1,0,1,0,1
4,1,1,0,0,1,0,1,0,1,0,1
5,1,1,0,0,1,0,1,0,1,0,1

In [25]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test = train_test_split(train.drop(['Occupancy'],axis=1),train['Occupancy'],train_size=0.67)
clf = BernoulliNB()

In [27]:
x_test.reset_index(drop=True,inplace=True)

In [28]:
clf.fit(x_train,y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [29]:
predictions = clf.predict_proba(x_test)

In [30]:
print (predictions)

[[  1.00000000e+00   3.10332187e-11]
 [  9.99898568e-01   1.01432216e-04]
 [  1.00000000e+00   6.20012952e-12]
 ...,
 [  1.00000000e+00   3.10332187e-11]
 [  1.00000000e+00   4.71783530e-12]
 [  1.00000000e+00   3.10332187e-11]]

In [31]:
feat1_prob = clf.feature_log_prob_
neg_prob = np.log(1-np.exp(clf.feature_log_prob_))
class_prob = clf.class_log_prior_

In [32]:
feat1 = clf.feature_log_prob_[0] - clf.feature_log_prob_[1]
feat0 = neg_prob[0] - neg_prob[1]

In [33]:
pos_evi = []
neg_evi = []
for i in x_test.itertuples():
    positive = 0
    negative = 0
    for j in range(1,len(i)):
        if(i[j]==0):
            if(feat0[j-1]>0):
                positive += feat0[j-1]
            else:
                negative += feat0[j-1]
        else:
            if(feat1[j-1]>0):
                positive += feat1[j-1]
            else:
                negative+= feat1[j-1]
    positive += class_prob[0] - class_prob[1]
    pos_evi.append((i[0],positive))
    neg_evi.append((i[0],negative))

### The most positive object with respect to the probabilities.

In [34]:
positive_obj_with_probability = x_test.ix[np.argmax(predictions[:,0])]
print ("The most positive object with respect to the probabilities.")
print (positive_obj_with_probability)

The most positive object with respect to the probabilities.
Temp<20.61             0
Temp>20.61             1
Humid>25.73            1
Humid<25.73            0
light>119.51           1
light<119.51           0
CO2>606.54             1
CO2<606.54             0
HumidityRatio>0.003    1
HumidityRatio<0.003    0
Name: 4, dtype: uint8

In [35]:
print ("the total positive log-evidence = %f"%pos_evi[np.argmax(predictions[:,0])][1])
print ("the total negative log-evidence = %f"%neg_evi[np.argmax(predictions[:,0])][1])
print ("Probability Distribution:")
print ("True class = %f"%predictions[:,0][np.argmax(predictions[:,0])])
print ("False class = %f"%predictions[:,1][np.argmax(predictions[:,0])])

the total positive log-evidence = 26.079671
the total negative log-evidence = 0.000000
Probability Distribution:
True class = 1.000000
False class = 0.000000

In [36]:
obj = x_test.ix[np.argmax(predictions[:,0])]
positive_features = []
negative_features = []
for i in range(0,len(obj)):
    if(obj[i]==0):
        if(feat0[i]>0):
            positive_features.append((x_test.columns[i],feat0[i]))
        else:
            negative_features.append((x_test.columns[i],feat0[i]))
    else:
        if(feat1[i]>0):
            positive_features.append((x_test.columns[i],feat1[i]))
        else:
            negative_features.append((x_test.columns[i],feat1[i]))

In [37]:
print("Top 3 positive features:")
print (sorted(positive_features,key=lambda x:x[1],reverse=True)[:3])

Top 3 positive features:
[('light>119.51', 6.9828627514689421), ('light<119.51', 6.9828627514687307), ('CO2>606.54', 2.4593255903686595)]

In [38]:
print("Top 3 Negative features:")
print (sorted(negative_features,key=lambda x:x[1],reverse=True)[:3])

Top 3 Negative features:
[]

### The most negative object with respect to the probabilities.

In [39]:
negative_obj_with_probability = x_test.ix[np.argmax(predictions[:,1])]
print ("The most negative object with respect to the probabilities.")
print (negative_obj_with_probability)

The most negative object with respect to the probabilities.
Temp<20.61             1
Temp>20.61             0
Humid>25.73            0
Humid<25.73            1
light>119.51           0
light<119.51           1
CO2>606.54             0
CO2<606.54             1
HumidityRatio>0.003    0
HumidityRatio<0.003    1
Name: 8, dtype: uint8

In [40]:
print ("the total positive log-evidence = %f"%pos_evi[np.argmax(predictions[:,1])][1])
print ("the total negative log-evidence = %f"%neg_evi[np.argmax(predictions[:,1])][1])
print ("Probability Distribution:")
print ("True class = %f"%predictions[:,0][np.argmax(predictions[:,1])])
print ("False class = %f"%predictions[:,1][np.argmax(predictions[:,1])])

the total positive log-evidence = 1.304657
the total negative log-evidence = -13.124352
Probability Distribution:
True class = 0.000007
False class = 0.999993

In [41]:
obj = x_test.ix[np.argmax(predictions[:,1])]
positive_features = []
negative_features = []
for i in range(0,len(obj)):
    if(obj[i]==0):
        if(feat0[i]>0):
            positive_features.append((x_test.columns[i],feat0[i]))
        else:
            negative_features.append((x_test.columns[i],feat0[i]))
    else:
        if(feat1[i]>0):
            positive_features.append((x_test.columns[i],feat1[i]))
        else:
            negative_features.append((x_test.columns[i],feat1[i]))

In [42]:
print("Top 3 positive features:")
print (sorted(positive_features,key=lambda x:x[1],reverse=True)[:3])

Top 3 positive features:
[]

In [43]:
print("Top 3 Negative features:")
print (sorted(negative_features,key=lambda x:x[1],reverse=True)[:3])

Top 3 Negative features:
[('Humid<25.73', -0.060761136955365558), ('Humid>25.73', -0.060761136955366002), ('HumidityRatio>0.003', -0.38962958618028337)]

### The object that has the largest positive evidence.

In [44]:
print ("The object that has the largest positive evidence.")
print (x_test.ix[sorted(pos_evi,key=lambda x:x[1],reverse=True)[0][0]])

The object that has the largest positive evidence.
Temp<20.61             0
Temp>20.61             1
Humid>25.73            1
Humid<25.73            0
light>119.51           1
light<119.51           0
CO2>606.54             1
CO2<606.54             0
HumidityRatio>0.003    1
HumidityRatio<0.003    0
Name: 4, dtype: uint8

In [45]:
print ("the total positive log-evidence = %f"%pos_evi[sorted(pos_evi,key=lambda x:x[1],reverse=True)[0][0]][1])
print ("the total negative log-evidence = %f"%neg_evi[sorted(pos_evi,key=lambda x:x[1],reverse=True)[0][0]][1])
print ("Probability Distribution:")
print ("True class = %f"%predictions[:,0][sorted(pos_evi,key=lambda x:x[1],reverse=True)[0][0]])
print ("False class = %f"%predictions[:,1][sorted(pos_evi,key=lambda x:x[1],reverse=True)[0][0]])

the total positive log-evidence = 26.079671
the total negative log-evidence = 0.000000
Probability Distribution:
True class = 1.000000
False class = 0.000000

In [46]:
obj = x_test.ix[sorted(pos_evi,key=lambda x:x[1],reverse=True)[0][0]]
positive_features = []
negative_features = []
for i in range(0,len(obj)):
    if(obj[i]==0):
        if(feat0[i]>0):
            positive_features.append((x_test.columns[i],feat0[i]))
        else:
            negative_features.append((x_test.columns[i],feat0[i]))
    else:
        if(feat1[i]>0):
            positive_features.append((x_test.columns[i],feat1[i]))
        else:
            negative_features.append((x_test.columns[i],feat1[i]))

In [47]:
print("Top 3 positive features:")
print (sorted(positive_features,key=lambda x:x[1],reverse=True)[:3])

Top 3 positive features:
[('light>119.51', 6.9828627514689421), ('light<119.51', 6.9828627514687307), ('CO2>606.54', 2.4593255903686595)]

In [48]:
print("Top 3 Negative features:")
print (sorted(negative_features,key=lambda x:x[1],reverse=True)[:3])

Top 3 Negative features:
[]

### The object that has the largest negative evidence.

In [49]:
print ("The object that has the largest negative evidence.")
print (x_test.ix[sorted(neg_evi,key=lambda x:x[1],reverse=True)[0][0]])

The object that has the largest negative evidence.
Temp<20.61             0
Temp>20.61             1
Humid>25.73            1
Humid<25.73            0
light>119.51           1
light<119.51           0
CO2>606.54             1
CO2<606.54             0
HumidityRatio>0.003    1
HumidityRatio<0.003    0
Name: 4, dtype: uint8

In [50]:
print ("the total positive log-evidence = %f"%pos_evi[sorted(neg_evi,key=lambda x:x[1],reverse=True)[0][0]][1])
print ("the total negative log-evidence = %f"%neg_evi[sorted(neg_evi,key=lambda x:x[1],reverse=True)[0][0]][1])
print ("Probability Distribution:")
print ("True class = %f"%predictions[:,0][sorted(neg_evi,key=lambda x:x[1],reverse=True)[0][0]])
print ("False class = %f"%predictions[:,1][sorted(neg_evi,key=lambda x:x[1],reverse=True)[0][0]])

the total positive log-evidence = 26.079671
the total negative log-evidence = 0.000000
Probability Distribution:
True class = 1.000000
False class = 0.000000

In [51]:
obj = x_test.ix[sorted(neg_evi,key=lambda x:x[1],reverse=True)[0][0]]
positive_features = []
negative_features = []
for i in range(0,len(obj)):
    if(obj[i]==0):
        if(feat0[i]>0):
            positive_features.append((x_test.columns[i],feat0[i]))
        else:
            negative_features.append((x_test.columns[i],feat0[i]))
    else:
        if(feat1[i]>0):
            positive_features.append((x_test.columns[i],feat1[i]))
        else:
            negative_features.append((x_test.columns[i],feat1[i]))

In [52]:
print("Top 3 positive features:")
print (sorted(positive_features,key=lambda x:x[1],reverse=True)[:3])

Top 3 positive features:
[('light>119.51', 6.9828627514689421), ('light<119.51', 6.9828627514687307), ('CO2>606.54', 2.4593255903686595)]

In [53]:
print("Top 3 Negative features:")
print (sorted(negative_features,key=lambda x:x[1],reverse=True)[:3])

Top 3 Negative features:
[]

### the most uncertain object (the probabilities are closest to 0.5)

In [54]:
print ("the most uncertain object (the probabilities are closest to 0.5)")
idx = (np.abs(predictions[:,0]-0.5)).argmin()
print (x_test.ix[idx])

the most uncertain object (the probabilities are closest to 0.5)
Temp<20.61             1
Temp>20.61             0
Humid>25.73            1
Humid<25.73            0
light>119.51           0
light<119.51           1
CO2>606.54             1
CO2<606.54             0
HumidityRatio>0.003    1
HumidityRatio<0.003    0
Name: 34, dtype: uint8

In [55]:
print ("the total positive log-evidence = %f"%pos_evi[idx][1])
print ("the total negative log-evidence = %f"%neg_evi[idx][1])
print ("Probability Distribution:")
print ("True class = %f"%predictions[:,0][idx])
print ("False class = %f"%predictions[:,1][idx])

the total positive log-evidence = 7.206235
the total negative log-evidence = -7.505117
Probability Distribution:
True class = 0.425831
False class = 0.574169

In [56]:
obj = x_test.ix[idx]
positive_features = []
negative_features = []
for i in range(0,len(obj)):
    if(obj[i]==0):
        if(feat0[i]>0):
            positive_features.append((x_test.columns[i],feat0[i]))
        else:
            negative_features.append((x_test.columns[i],feat0[i]))
    else:
        if(feat1[i]>0):
            positive_features.append((x_test.columns[i],feat1[i]))
        else:
            negative_features.append((x_test.columns[i],feat1[i]))

In [57]:
print("Top 3 positive features:")
print (sorted(positive_features,key=lambda x:x[1],reverse=True)[:3])

Top 3 positive features:
[('CO2>606.54', 2.4593255903686595), ('CO2<606.54', 2.4593255903686573), ('HumidityRatio<0.003', 0.41561442446258812)]

In [58]:
print("Top 3 Negative features:")
print (sorted(negative_features,key=lambda x:x[1],reverse=True)[:3])

Top 3 Negative features:
[('Temp<20.61', -1.1694187919046808), ('Temp>20.61', -1.1694187919046808), ('light>119.51', -2.5831395515215916)]